<h1 style="padding:1rem;font-size:2rem;">Listado de personajes de rick & morty</h1>
@if(cs.loading()){
<section class="flex spiner-container">
  <mat-spinner></mat-spinner>
</section>
}@else{
<section class="flex cards-container">
  @for(character of cs.characters();track $index){
  <div class="tooltip">
    <div class="tooltiptext">
      <p>Nombre: <b> {{character.name}} </b></p>
      <p>Estado: <b> {{character.status=='Dead' ? 'Fallecido':'Vivo'}}</b></p>
      <p>Especie: <b> {{character.species == 'Human'?'Humano':'Alien'}}</b></p>
      <p>Género: <b> {{character.gender == 'Male'?'Hombre':'Mujer'}}</b></p>
    </div>
    <app-character-card id="{{character.id}}" characterName="{{character.name}}"
      characterImage="{{character.image}}"></app-character-card>
  </div>
  }
</section>
<mat-paginator [length]="arrayLength()" [pageSizeOptions]="[10]" aria-label="Seleccionar página"
  [hidePageSize]="hidePageSize()" [pageSize]="pageSize()" [pageIndex]="pageIndex()" (page)="handlePageEvent($event)"
  [showFirstLastButtons]="showFirstLastButtons()">
</mat-paginator>

}
