<h1 style="padding:1rem;font-size:2rem;">Buscar por nombre</h1>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12" style="max-width: 40%;">
        <input id="name" type="text" class="validate" (input)="nameChanging($event)">
        <label for="name">Nombre</label>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col s12">
    @if(scs.loading()){
      <section class="flex spiner-container">
        <mat-spinner></mat-spinner>
      </section>
    }@else {

      <section class="flex cards-container">
        @if(!scs.notFound()){
          @for(character of scs.characters();track $index){
          <div class="tooltip">
            <div class="tooltiptext">
              <p>Nombre: <b> {{character.name}} </b></p>
              <p>Estado: <b> {{character.status=='Dead' ? 'Fallecido':'Vivo'}}</b></p>
              <p>Especie: <b> {{character.species == 'Human'?'Humano':'Alien'}}</b></p>
              <p>Género: <b> {{character.gender == 'Male'?'Hombre':'Mujer'}}</b></p>
            </div>
            <app-character-card id="{{character.id}}" characterName="{{character.name}}"
              characterImage="{{character.image}}"></app-character-card>
          </div>
          }
        }@else {
          <p>{{scs.notFound()}}</p>
        }
      </section>

    }
  </div>
</div>
