<nav>
  <div class="nav-wrapper" style="padding:0 1rem;">
    <a routerLink=""class="brand-logo">Nuvant</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      @for(link of links; track $index){
        <li><a [routerLink]="link.path" routerLinkActive="bg-active">{{link.title}}</a></li>
      }
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  @for(link of links; track $index){
    <li><a [routerLink]="link.path" routerLinkActive="bg-active">{{link.title}}</a></li>
  }
</ul>
